@page "/admin/users"
@using AzUrlShortener.AdminUI
@using AzUrlShortener.AdminUI.Components
@using AzUrlShortener.AdminUI.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Configuration
@attribute [Authorize(Policy = "AdminOnly")]
@inject IJSRuntime JSRuntime
@inject IConfiguration Configuration
@inject UserService userService
@inject NavigationManager NavigationManager
@inject IToastService toastService

@rendermode InteractiveServer

<PageTitle>User Management</PageTitle>

<h1>User Management</h1>

<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
    <FluentButton Appearance="Appearance.Outline" OnClick="@(() => NavigationManager.NavigateTo("/settings"))">
        &nbsp;<FluentIcon Value="@(new Icons.Regular.Size16.ArrowLeft())" />
        Back to Settings &nbsp;
    </FluentButton>

    <FluentAnchor Href="@azPortalUrl" Target="_blank" Appearance="Appearance.Accent">
        Go to the Azure Portal
    </FluentAnchor>
</FluentStack>

<h3 class="mt-4">Role Management Instructions</h3>

<FluentCard Width="100%" Height="auto" class="mt-3">
    <p>Role assignments for users/groups are managed in the Azure Portal.</p>
    <ol>
        <li>Go to the Azure Portal</li>
        <li>On the "Entra ID -> Enterprise applications" page,</li>
        <li>
            Find the application for the URL Shortener<br />
            (Filter: "Application ID" "starts with" "@clientAppId"
            <FluentButton OnClick="@(() => CopyToClipboard(clientAppId))"
                          IconEnd="@(new Icons.Regular.Size16.Copy())"
                          Title="Copy Client ID to clipboard"
                          Appearance="Appearance.Lightweight"
                          Size="Size.Small"
                          style="padding: 2px 4px; margin: -3px 0 0 0; vertical-align: middle; height: auto;" />)
        </li>
        <li>Navigate to the application details page</li>
        <li>Navigate to the "Users and groups" section</li>
        <li>Assign users or groups with the desired roles</li>
    </ol>
    <p>The "Admin" role has permissions to see and manage all short URL records.</p>
    <p>The "User" role has only permissions to manage the user-created short URL records (see help for details).</p>
</FluentCard>

@code {
    private string clientAppId;
    private string azPortalUrl;

    protected override async Task OnInitializedAsync()
    {
        var tenantId = Configuration["Authentication:Entra:TenantId"];
        clientAppId = Configuration["Authentication:Entra:ClientId"];
        azPortalUrl = "https://portal.azure.com/" + tenantId  + "/#view/Microsoft_AAD_IAM/StartboardApplicationsMenuBlade/~/AppAppsPreview/menuId~/null";

        var isAdmin = await userService.IsAdminAsync();
        if (!isAdmin)
        {
            toastService.ShowError("You are not authorized to access this page");
            NavigationManager.NavigateTo("/manageurls");
        }
    }

    private async Task CopyToClipboard(string text)
    {
        await JSRuntime.InvokeVoidAsync("clipboardCopy.copyText", text);
        toastService.ShowSuccess("Client ID copied to clipboard");
    }
}
